################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Transport-Book-FSD/obj/Release/net8.0
/.vs
/Transport-Book-FSD/bin/Debug/net8.0
/SQLQuery1.sql
