################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Transport-Book-FSD.slnx/FileContentIndex/0a74b4f2-cd4c-4590-bcca-07e5c9ddb235.vsidx
/.vs/Transport-Book-FSD.slnx/FileContentIndex
